@model Meeting.Web.Dto.AnneeDto

@{
    ViewData["Title"] = "Edit";
}
<!--
    <h1>Edit</h1>/<h4>CoreAnnee</h4>
<hr />
-->
<div class="row">
    <div class="card-body">
        <form id="modalForm" asp-formhelper="true" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AnneeId" />
            <div class="form-group  m-3">
                <label asp-for="FrequenceId" class="control-label"></label>
                <select asp-for="FrequenceId" class="form-control form-select" asp-items="ViewBag.FrequenceId"><option value=""> Choose an item </option></select>
                <span asp-validation-for="FrequenceId" class="text-danger"></span>
            </div>
            <div class="form-group  m-3">
                <label asp-for="BureauId" class="control-label"></label>
                <select asp-for="BureauId" class="form-control form-select" asp-items="ViewBag.BureauId"><option value=""> Choose an item </option></select>
                <span asp-validation-for="BureauId" class="text-danger"></span>
            </div>
            <div class="form-group  m-3">
                <label asp-for="Libelle" class="control-label"></label>
                <input asp-for="Libelle" class="form-control" required />
                <span asp-validation-for="Libelle" class="text-danger"></span>
            </div>
            <div class="form-group  m-3">
                <label asp-for="Datedebut" class="control-label"></label>
                <input asp-for="Datedebut" class="form-control" type="datetime" required />
                <span asp-validation-for="Datedebut" class="text-danger"></span>
            </div>
            <div class="form-group  m-3">
                <label asp-for="Datefin" class="control-label"></label>
                <input asp-for="Datefin" class="form-control" type="datetime" required />
                <span asp-validation-for="Datefin" class="text-danger"></span>
            </div>
            <div class="form-group  m-3">
                <label asp-for="Nbdivision" class="control-label"></label>
                <input asp-for="Nbdivision" class="form-control" />
                <span asp-validation-for="Nbdivision" class="text-danger"></span>
            </div>
            <div class="form-group form-check m-2">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsCurrent" /> @Html.DisplayNameFor(model => model.IsCurrent)
                </label>
            </div>
            <div class="form-group form-check m-2">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsClosed" /> @Html.DisplayNameFor(model => model.IsClosed)
                </label>
            </div>
            <div class="form-group form-check m-2">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CopyDataFromPrevious" /> @Html.DisplayNameFor(model => model.CopyDataFromPrevious)
                </label>
            </div>
            <div class="form-group  m-3">
                <label asp-for="PreviousYearId" class="control-label"></label>
                <select asp-for="PreviousYearId" class="form-control form-select" asp-items="ViewBag.PreviousYearId"><option value=""> Choose an item </option></select>
                <span asp-validation-for="PreviousYearId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input id="regularSubmitBtn" type="submit" value="Save" class="btn btn-primary visually-hidden" />
            </div>
            @*<partial name="_FormSubmitEditBtnPartial" class="" />*@
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
