@model Meeting.Web.Dto.OrdrePassageDto

@{
    ViewData["Title"] = "Create";
}

@*<h1>Create</h1>*@
@*
<h4>MeetOrdrePassage</h4>
<hr />*@
<div class="row justify-content-center">
    <div class="card-body">
        <form asp-formhelper="true" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group m-3">
                <input asp-for="AnneeId" type="hidden" />
                @*<label asp-for="AnneeId" class="control-label"></label>
                <select asp-for="AnneeId" class ="form-control form-select" asp-items="ViewBag.AnneeId"><option value=""> Choose an item </option></select>*@
            </div>
            <div class="form-group m-3">
                <label asp-for="DivisionId" class="control-label"></label>
                <select asp-for="DivisionId" class ="form-control form-select" asp-items="ViewBag.DivisionId"><option value=""> Choose an item </option></select>
            </div>
            <div class="form-group m-3">
                <label asp-for="Idinscrit" class="control-label"></label>
                <select asp-for="Idinscrit" class ="form-control form-select" asp-items="ViewBag.Idinscrit"><option value=""> Choose an item </option></select>
            </div>
            <div class="form-group m-3">
                <label asp-for="Montantpercu" class="control-label"></label>
                <input asp-for="Montantpercu" class="form-control" type="number" />
                <span asp-validation-for="Montantpercu" class="text-danger"></span>
            </div>
            <div class="form-group m-3">
                <label asp-for="Heuredebut" class="control-label"></label>
                <input asp-for="Heuredebut" class="form-control" type="time" />
                <span asp-validation-for="Heuredebut" class="text-danger"></span>
            </div>
            <div class="form-group m-3">
                <label asp-for="Commentaire" class="control-label"></label>
                <!--<input asp-for="Commentaire" class="form-control" />-->
                <textarea asp-for="Commentaire" class="form-control" rows="4"></textarea>
                <span asp-validation-for="Commentaire" class="text-danger"></span>
            </div>
            <div class="form-group d-flex justify-content-around border-1 border-secondary border-top m-3 visually-hidden">
                <div>
                    <a asp-action="Index">Back to List</a>
                </div>
                <input id="regularSubmitBtn" type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
