@model Meeting.Web.Dto.PersonDto

@{
    ViewData["Title"] = "Edit";
}

@*<h1>Edit</h1>*@

@*<h4>CorePerson</h4>
<hr />*@
<div class="row justify-content-center">
    <div class="card-body">
        <form asp-formhelper="true" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PersonId" />
            <div class="form-group  p-2">
                <label asp-for="CountryId" class="control-label"></label>
                <select asp-for="CountryId" class="form-control form-select" asp-items="ViewBag.CountryId"><option value=""> Choose an item </option></select>
                <span asp-validation-for="CountryId" class="text-danger"></span>
            </div>
            <div class="form-group  p-2">
                <label asp-for="EtabId" class="control-label"></label>
                <select asp-for="EtabId" class="form-control form-select" asp-items="ViewBag.EtabId"><option value=""> Choose an item </option></select>
                <span asp-validation-for="EtabId" class="text-danger"></span>
            </div>
            <div class="form-group  p-2">
                <label asp-for="Nom" class="control-label"></label>
                <input asp-for="Nom" class="form-control" required />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="form-group  p-2">
                <label asp-for="Prenom" class="control-label"></label>
                <input asp-for="Prenom" class="form-control" />
                <span asp-validation-for="Prenom" class="text-danger"></span>
            </div>
            <div class="form-group  p-2">
                <label asp-for="Datenais" class="control-label"></label>
                <input asp-for="Datenais" class="form-control" type="date" />
                <span asp-validation-for="Datenais" class="text-danger"></span>
            </div>
            <div class="form-group  p-2">
                <label asp-for="Lieunais" class="control-label"></label>
                <input asp-for="Lieunais" class="form-control" />
                <span asp-validation-for="Lieunais" class="text-danger"></span>
            </div>
            <div class="form-group  p-2">
                <label asp-for="Sexe" class="control-label"></label>
                <input asp-for="Sexe" class="form-control" required />
                <span asp-validation-for="Sexe" class="text-danger"></span>
            </div>
            <div class="form-group  p-2">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" type="email"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group  p-2">
                <label asp-for="Adresse" class="control-label"></label>
                <input asp-for="Adresse" class="form-control" />
                <span asp-validation-for="Adresse" class="text-danger"></span>
            </div>
            <div class="form-group  p-2">
                <label asp-for="AdhesionDate" class="control-label"></label>
                <input asp-for="AdhesionDate" class="form-control" type="month" />
                <span asp-validation-for="AdhesionDate" class="text-danger"></span>
            </div>
            <div class="form-group  p-2">
                <label asp-for="Nocni" class="control-label"></label>
                <input asp-for="Nocni" class="form-control" />
                <span asp-validation-for="Nocni" class="text-danger"></span>
            </div>
            <div class="form-group  p-2">
                <label asp-for="CniExpireDate" class="control-label"></label>
                <input asp-for="CniExpireDate" class="form-control" type="date"/>
                <span asp-validation-for="CniExpireDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check  m-2">
                <label asp-for="IsActive" class="form-check-label">
                    <input asp-for="IsActive" class="form-check-input" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>
            @*<div class="form-group form-check  m-2">
            <label asp-for="IsVisible" class="form-check-label">
            <input asp-for="IsVisible" class="form-check-input" /> @Html.DisplayNameFor(model => model.IsVisible)
            </label>
            <span asp-validation-for="IsVisible" class="text-danger"></span>
            </div>*@
            <div class="form-group  p-2">
                <label asp-for="AnneePromo" class="control-label"></label>
                <input asp-for="AnneePromo" class="form-control" type="number" />
                <span asp-validation-for="AnneePromo" class="text-danger"></span>
            </div>
            <div class="form-group d-flex justify-content-around border-1 border-secondary border-top p-2 visually-hidden">
                <div>
                    <a asp-action="Index">Back to List</a>
                </div>
                <input id="regularSubmitBtn" type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
