@model Meeting.Web.Dto.InscriptionDto

@{
    ViewData["Title"] = "Suspendre";
}

@*<h1>Edit</h1>*@

@*<h4>InscriptionDto</h4>
<hr />*@
<div class="row justify-content-center">
    <div class="card-body">

        @if (ViewBag.Newstatus == "suspendre")
        {
            <h3>Are you sure you want to suspend this?</h3>
        }
        else
        {
            <h3>Are you sure you want to restore this?</h3>
        }

        <form asp-formhelper="true" asp-action="@ViewBag.Newstatus" asp-route-id="@Model.Idinscrit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Idinscrit" />
            <div class="form-group  m-3 visually-hidden">
                <label asp-for="EtabId" class="control-label"></label>
                <input asp-for="EtabId" class="form-control" type="hidden" />
                <span asp-validation-for="EtabId" class="text-danger"></span>
            </div>
            <div class="form-group  m-3 visually-hidden0">
                <label asp-for="Annee.Libelle" class="control-label"></label>
                <input asp-for="AnneeId" class="form-control" type="hidden" />
                
                <input asp-for="Annee.Libelle" class="form-control" readonly />
                @*<select asp-for="AnneeId" class="form-control form-select" asp-items="ViewBag.AnneeId"><option value=""> Choose an item </option></select>*@
                <span asp-validation-for="AnneeId" class="text-danger"></span>
            </div>
            <div class="form-group m-3">
                <label asp-for="AntenneId" class="control-label"></label>
                <select asp-for="AntenneId" class="form-control form-select" disabled asp-items="ViewBag.AntenneId"><option value=""> Choose an item </option></select>
                <span asp-validation-for="AntenneId" class="text-danger"></span>
            </div>
            <div class="form-group m-3">
                <label asp-for="PersonId" class="control-label"></label>
                <select asp-for="PersonId" class="form-control form-select" disabled asp-items="ViewBag.PersonId"><option value=""> Choose an item </option></select>
                <span asp-validation-for="PersonId" class="text-danger"></span>
            </div>
            @if (ViewBag.Newstatus == "suspendre")
            {
                <div class="form-group m-3">
                    <label asp-for="Datesuspension" class="control-label"></label>
                <input asp-for="Datesuspension" class="form-control" type="date" />
                <span asp-validation-for="Datesuspension" class="text-danger"></span>
            </div>
            }
           @* <div class="form-group form-check m-2">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>*@

            <div class="form-group d-flex justify-content-around border-1 border-secondary border-top m-3 visually-hidden">
                <div>
                    <a asp-action="Index">Back to List</a>
                </div>
                <input id="regularSubmitBtn" type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
