@model Tontine.Entities.Models.Bureau

@{
   // ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Bureau</h4>
<hr />
<div class="row justify-content-center">
    <div @*class="col-md-4"*@>
        <form asp-action="Edit" asp-route-id="@Model.Idbureau">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Idbureau" />
            <div class="form-group">
                <label asp-for="Libelle" class="control-label"></label>
                <input asp-for="Libelle" class="form-control" />
                <span asp-validation-for="Libelle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Debut" class="control-label"></label>
                <input asp-for="Debut" class="form-control" />
                <span asp-validation-for="Debut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fin" class="control-label"></label>
                <input asp-for="Fin" class="form-control" />
                <span asp-validation-for="Fin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nbperson" class="control-label"></label>
                <input asp-for="Nbperson" class="form-control" />
                <span asp-validation-for="Nbperson" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nbvotes" class="control-label"></label>
                <input asp-for="Nbvotes" class="form-control" />
                <span asp-validation-for="Nbvotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nbabstention" class="control-label"></label>
                <input asp-for="Nbabstention" class="form-control" />
                <span asp-validation-for="Nbabstention" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
