
<ul class="navbar-nav me-auto">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-dark" href="#" data-bs-toggle="dropdown">Paramètres</a>
        <ul class="dropdown-menu">
            <li>
                <a class="dropdown-item" asp-area="" asp-controller="Etablissements" asp-action="Index">Enregistrer l'association<span class="badge bg-danger"> ! </span></a>
            </li>
            <li>
                <a class="dropdown-item" asp-area="" asp-controller="Antennes" asp-action="Index">Antennes  <span class="badge bg-danger"> ! </span></a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
                <a class="dropdown-item" asp-area="" asp-controller="Annees" asp-action="Index">Exercices Annuels</a>
            </li>
            <li>
                <a class="dropdown-item disabled" asp-area="" asp-controller="Bureaux" asp-action="Index">Bureaux</a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
                <a class="dropdown-item" asp-area="" asp-controller="Banks" asp-action="Index">Banques</a>
            </li>
            <li>
                <a class="dropdown-item" asp-area="" asp-controller="Modepaies" asp-action="Index">Mode de paiement  <span class="badge bg-danger"> ! </span></a>
            </li>
            <li>
                <a class="dropdown-item disabled" asp-area="" asp-controller="Bankaccounts" asp-action="Index">Comptes bancaires  <span class="badge bg-danger"> ! </span></a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
                <a class="dropdown-item" asp-area="" asp-controller="Configvisas" asp-action="Index">Paramétrer la signature des documents</a>
            </li>
            <li>
                <a class="dropdown-item" asp-area="" asp-controller="Postes" asp-action="Index">Postes de bureau</a>
            </li>
            <li>
                <a class="dropdown-item" asp-area="" asp-controller="TypeRubriques" asp-action="Index">Catégories Rubriques</a>
            </li>
        </ul>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-dark" href="#" data-bs-toggle="dropdown">Traitements</a>
        <ul class="dropdown-menu">
            <li>
                <a class="dropdown-item" asp-area="" asp-controller="Persons" asp-action="Index">Personnes</a>
            </li>
            <li>
                <a class="dropdown-item" asp-area="" asp-controller="Inscriptions" asp-action="Index">Inscriptions</a>
            </li>
            <li>
                <a class="dropdown-item" asp-area="" asp-controller="Ordrepassages" asp-action="Index">Ordre de passages</a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
                <a class="dropdown-item" asp-area="" asp-controller="Rubriques" asp-action="Index">Rubriques financières</a>
            </li>
            <li>
                <a class="dropdown-item" asp-area="" asp-controller="Engagements" asp-action="Index">Engagements annuels</a>
            </li>
            <li>
                <a class="dropdown-item" asp-area="" asp-controller="Seances" asp-action="Index">Séances de reunion <span class="badge bg-info"> ! </span></a>
            </li>
            <li>
                <a class="dropdown-item disabled" asp-area="" asp-controller="Presences" asp-action="Index">Presences  <span class="badge bg-danger"> ! </span></a>
            </li>
            <li>
                <a class="dropdown-item" asp-area="" asp-controller="Sortiecaisses" asp-action="Index">Sorties de caisse  <span class="badge bg-danger"> ! </span></a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
                <a class="dropdown-item disabled" asp-area="" asp-controller="Prets" asp-action="Index">Prêts</a>
            </li>
            <li>
                <a class="dropdown-item disabled visually-hidden" asp-area="" asp-controller="Aides" asp-action="Index">Aides</a>
            </li>
        </ul>
    </li>
</ul>
