@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="form-group d-flex justify-content-around border-1 border-secondary border-top  m-3">
    <div>
        @*<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>*@
        <a asp-action="Index">Back to List</a>
    </div>
    <input type="submit" value="Create" class="btn btn-primary" />
</div>