@model Tontine.Entities.Models.CoreAnnee

@{
//    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CoreAnnee</h4>
<hr />
<!-- The Modal -->
<div class="modal" id="myModal-01">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
<div class="row justify-content-center">
    <div class="card-body">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Idbureau" class="control-label"></label>
                <select asp-for="Idbureau" class ="form-control" asp-items="ViewBag.Idbureau"></select>
            </div>
            <div class="form-group">
                <label asp-for="Libelle" class="control-label"></label>
                <input asp-for="Libelle" class="form-control" />
                <span asp-validation-for="Libelle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Datedebut" class="control-label"></label>
                <input asp-for="Datedebut" class="form-control" />
                <span asp-validation-for="Datedebut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Datefin" class="control-label"></label>
                <input asp-for="Datefin" class="form-control" />
                <span asp-validation-for="Datefin" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Iscurrent" /> @Html.DisplayNameFor(model => model.Iscurrent)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Isclosed" /> @Html.DisplayNameFor(model => model.Isclosed)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<!---->
</div>
</div>
</div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
