@page
@model Meeting.web.Controllers.Settings.EditModel

<h4>CoreAnnee</h4>
<hr />
<div class="row justify-content-center">
    <div class="card-body">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CoreAnnee.AnneeId" />
            <div class="form-group  p-2">
                <label asp-for="CoreAnnee.CreateUid" class="control-label"></label>
                <input asp-for="CoreAnnee.CreateUid" class="form-control" />
                <span asp-validation-for="CoreAnnee.CreateUid" class="text-danger"></span>
            </div>
            <div class="form-group  p-2">
                <label asp-for="CoreAnnee.UpdateUid" class="control-label"></label>
                <input asp-for="CoreAnnee.UpdateUid" class="form-control" />
                <span asp-validation-for="CoreAnnee.UpdateUid" class="text-danger"></span>
            </div>
            <div class="form-group  p-2">
                <label asp-for="CoreAnnee.CreateAt" class="control-label"></label>
                <input asp-for="CoreAnnee.CreateAt" class="form-control" />
                <span asp-validation-for="CoreAnnee.CreateAt" class="text-danger"></span>
            </div>
            <div class="form-group  p-2">
                <label asp-for="CoreAnnee.UpdateAt" class="control-label"></label>
                <input asp-for="CoreAnnee.UpdateAt" class="form-control" />
                <span asp-validation-for="CoreAnnee.UpdateAt" class="text-danger"></span>
            </div>
            <div class="form-group  p-2">
                <label asp-for="CoreAnnee.FrequenceId" class="control-label"></label>
                <select asp-for="CoreAnnee.FrequenceId" class="form-control form-select" asp-items="ViewBag.FrequenceId"><option value=""> Choose an item </option></select>
                <span asp-validation-for="CoreAnnee.FrequenceId" class="text-danger"></span>
            </div>
            <div class="form-group  p-2">
                <label asp-for="CoreAnnee.BureauId" class="control-label"></label>
                <select asp-for="CoreAnnee.BureauId" class="form-control form-select" asp-items="ViewBag.BureauId"><option value=""> Choose an item </option></select>
                <span asp-validation-for="CoreAnnee.BureauId" class="text-danger"></span>
            </div>
            <div class="form-group  p-2">
                <label asp-for="CoreAnnee.PreviousYearId" class="control-label"></label>
                <select asp-for="CoreAnnee.PreviousYearId" class="form-control form-select" asp-items="ViewBag.PreviousYearId"><option value=""> Choose an item </option></select>
                <span asp-validation-for="CoreAnnee.PreviousYearId" class="text-danger"></span>
            </div>
            <div class="form-group  p-2">
                <label asp-for="CoreAnnee.Libelle" class="control-label"></label>
                <input asp-for="CoreAnnee.Libelle" class="form-control" />
                <span asp-validation-for="CoreAnnee.Libelle" class="text-danger"></span>
            </div>
            <div class="form-group  p-2">
                <label asp-for="CoreAnnee.Datedebut" class="control-label"></label>
                <input asp-for="CoreAnnee.Datedebut" class="form-control" />
                <span asp-validation-for="CoreAnnee.Datedebut" class="text-danger"></span>
            </div>
            <div class="form-group  p-2">
                <label asp-for="CoreAnnee.Datefin" class="control-label"></label>
                <input asp-for="CoreAnnee.Datefin" class="form-control" />
                <span asp-validation-for="CoreAnnee.Datefin" class="text-danger"></span>
            </div>
            <div class="form-group form-check m-2">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CoreAnnee.IsCurrent" /> @Html.DisplayNameFor(model => model.CoreAnnee.IsCurrent)
                </label>
            </div>
            <div class="form-group form-check m-2">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CoreAnnee.IsClosed" /> @Html.DisplayNameFor(model => model.CoreAnnee.IsClosed)
                </label>
            </div>
            <div class="form-group  p-2">
                <label asp-for="CoreAnnee.Nbdivision" class="control-label"></label>
                <input asp-for="CoreAnnee.Nbdivision" class="form-control" />
                <span asp-validation-for="CoreAnnee.Nbdivision" class="text-danger"></span>
            </div>
            <div class="form-group form-check m-2">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CoreAnnee.CopyDataFromPrevious" /> @Html.DisplayNameFor(model => model.CoreAnnee.CopyDataFromPrevious)
                </label>
            </div>
            <div class="form-group  p-2">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
